---
import CustomCursor from "../components/CustomCursor.astro";
import Navbar from "../components/Navbar.astro";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Thrashy</title>
  </head>
  <body class="bg-[#0f0f0f] text-white">
    <CustomCursor />
    <Navbar />
    <slot />
  </body>
</html>

<style>
  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
